<!DOCTYPE html>
<html lang="en">
<title>Forms</title>
<body class="main-form-body">
  <%- include('./partials/_headers') %>

  <div id="top-bar">
  <h1 class="title">Create new quiz</h1>
</div>

<form action="/users/submit_form" method="POST" class="main-form">
  <div class="form-div">
    <div class="labels">
      <label for="input1" id="title">Title:</label>
      <label for="input2" id="category">Category:</label>

      <label for="input3" id="question1">Question 1:</label>
      <label for="input4" id="q1_ans_1">Possible Answer 1. </label>
      <label for="input5" id="q1_ans_2">Possible Answer 2. </label>
      <label for="input6" id="q1_ans_3">Possible Answer 3. </label>
      <label for="input7" id="q1_ans_4">Possible Answer 4. </label>
      <label for="input9" id="q1_correct">Correct Answer:</label>

      <label for="input10" id="question2">Question 2:</label>
      <label for="input11" id="q2_ans_1">Possible Answer 1. </label>
      <label for="input12" id="q2_ans_2">Possible Answer 2. </label>
      <label for="input13" id="q2_ans_3">Possible Answer 3. </label>
      <label for="input14" id="q2_ans_4">Possible Answer 4. </label>
      <label for="input15" id="q2_correct">Correct Answer:</label>

      <label for="input16" id="question3">Question 3:</label>
      <label for="input17" id="q3_ans_1">Possible Answer 1. </label>
      <label for="input18" id="q3_ans_2">Possible Answer 2. </label>
      <label for="input19" id="q3_ans_3">Possible Answer 3. </label>
      <label for="input20" id="q3_ans_4">Possible Answer 4. </label>
      <label for="input21" id="q3_correct">Correct Answer:</label>

      <label for="input22" id="question4">Question 4:</label>
      <label for="input23" id="q4_ans_1">Possible Answer 1. </label>
      <label for="input24" id="q4_ans_2">Possible Answer 2. </label>
      <label for="input25" id="q4_ans_3">Possible Answer 3. </label>
      <label for="input26" id="q4_ans_4">Possible Answer 4. </label>
      <label for="input27" id="q4_correct">Correct Answer:</label>

      <label for="input28" id="question5">Question 5:</label>
      <label for="input29" id="q5_ans_1">Possible Answer 1. </label>
      <label for="input30" id="q5_ans_2">Possible Answer 2. </label>
      <label for="input31" id="q5_ans_3">Possible Answer 3. </label>
      <label for="input32" id="q5_ans_4">Possible Answer 4. </label>
      <label for="input33" id="q5_correct">Correct Answer:</label>
    </div>

    <div class="quiz-input" >
      <input type="text" name='title'><br>
      <input type="text"  name='category' ><br>
      <input type="text" name = 'question1' ><br>
      <input type="text" name = 'q1_ans_1'><br>
      <input type="text" name = 'q1_ans_2'><br>
      <input type="text" name = 'q1_ans_3'><br>
      <input type="text" name = 'q1_ans_4'><br>
      <input type="text" name = 'q1_correct'><br>
      <input type="text" name = 'question2'><br>
      <input type="text" name = 'q2_ans_1'><br>
      <input type="text" name = 'q2_ans_2'><br>
      <input type="text" name = 'q2_ans_3'><br>
      <input type="text" name = 'q2_ans_4'><br>
      <input type="text" name = 'q2_correct'><br>
      <input type="text" name = 'question3'><br>
      <input type="text" name = 'q3_ans_1'><br>
      <input type="text" name = 'q3_ans_2'><br>
      <input type="text" name = 'q3_ans_3'><br>
      <input type="text" name = 'q3_ans_4'><br>
      <input type="text" name = 'q3_correct'><br>
      <input type="text" name = 'question4'><br>
      <input type="text" name = 'q4_ans_1'><br>
      <input type="text" name = 'q4_ans_2'><br>
      <input type="text" name = 'q4_ans_3'><br>
      <input type="text" name = 'q4_ans_4'><br>
      <input type="text" name = 'q4_correct'><br>
      <input type="text" name = 'question5'><br>
      <input type="text" name = 'q5_ans_1'><br>
      <input type="text" name = 'q5_ans_2'><br>
      <input type="text" name = 'q5_ans_3'><br>
      <input type="text" name = 'q5_ans_4'><br>
      <input type="text" name = 'q5_correct'><br>

    </div>


  </div>

</div>
<input type="submit" value="Submit" id="submit">
</form>

</body>
</html>
