<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
</head>
<body>

  <h1>create quiz form</h1>

<form action="/submit_form" method="POST">
<div>
  <label for="Quiz-title">Title</label>
  <input type="text" id="title"/>
  <button>
    submit
  </button>

</div>

<div>
  <label for="Quiz-category">Category</label>
  <input type="text" id="title"/>


</div>

<div>
  <label for="Quiz-question">Question</label>
  <textarea id="message" name="message" rows="4" cols="40">input here</textarea>


<!-- finish with 4 forms for the answers -->
</div>

</form>

</body>
</html>
