<!DOCTYPE html>
<html lang="en">

<title>Home Page</title>
<body class="main-body">
  <%- include('./partials/_headers') %>

<div class="main-box">
  <p>This will be the box</p>
</div>
<div class="three-boxes">
  <div class="small-box"></div>
  <div class="small-box"></div>
  <div class="small-box"></div>
</div>
</body>


</html>
