<!DOCTYPE html>
<html lang="en">

    <title>My Quizzes</title>

  <body class="main-body">
    <%- include('./partials/_headers') %>

    <h1>My Quizzes</h1>

    <% for (let quiz of quizzes) { %>
      <form action="/users/users_quizzes/quiz/<%= quiz.id %>" method="GET" class="my-quizzes">
        <button class="my-quiz-btn" type="submit">
          <p> <%= quiz.title %></p>
        </button>
      </form>
      <% } %>
  </body>
</html>
