<!DOCTYPE html>
<html lang="en">

    <title>My Quizzes</title>

  <body class="main-body">
    <%- include('./partials/_headers') %>

    <h1>My Quizzes</h1>
    <form action="/users/users_quizzes" method="GET">
    <ul id="users"></ul>
    <% for (let quiz of quizzes) { %>
        <div class="my-quiz">
          <p>Title: <%= quiz.title %></p>
          <p>Category: <%= quiz.name %></p>
        </div>
      <% } %>
    </form>
  </body>
</html>
