 <!DOCTYPE html>
<html lang="en">

<title>Results</title>
<body>
  <%- include('./partials/_headers') %>
  <section class="all-results">
    <article class="results">
      <div class="top">
      <p>Quiz Name</p>
      <label class="user-results">Results</label>
      <span class="user-results">4/5</span>
    </div>
      <div class="bottom">
      <p>Quiz Category</p>
      <label class="attempt">Last Attempt</label>
      <span class="attempt">April 28, 2023</span>
      </div>
    </article>
  </section>
</body>
</html>
