 <!DOCTYPE html>
<html lang="en">

<title>Results</title>
<body>
  <%- include('./partials/_headers') %>

  <h1>My Results</h1>

  <section class="all-results">
    <article class="results">
      <% for (let result of results) { %>
        <div class="my-results">
          <div class="left">
            <p>Quiz Name: <%= result.title %></p>
          </div>
          <div class="right">
            <p>Score: <%= result.score %></p>
            <p>Last Attempt: <%= result.created_at %></p>
          </div>
        </div>
      <% } %>
    </article>
  </section>
</body>
</html>
