.form-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quiz-input {
  margin-bottom: 50px;
  width: 150px;
}

.labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding-bottom: 65px;
  padding-right: 30px;
}

.main-form-body {
  padding-top: 150px;
}

#all-inputs {
  margin-bottom: 10px;
  width: 500px;
}