.my-quizzes {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 750px;
  background-color: linear-gradient(227deg, #a3d0db 0%, #a3b0db 20%, #a3addb 34%, #a3dbd0 59%, #a3d0db 74%, #a3d0db 100%);
}

.user-quiz {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.my-quiz-btn {
  text-align: left;
  border: 4px solid;
  border-color: #8a8194;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(249, 241, 241, 0.3);
  background-color: userQuizzesBtnBackgroundColor;
}

.my-quiz-btn:hover {
  background-color: #d8d5d5;
}