.my-results {
  margin: 20px;
  padding: 1em;
  border-width: 5px;
  border: 4px solid #8a8194;
  background-color: #e8dbf6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.left {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

div.right {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

h1 {
  padding-top: 100px;
}