@import 'variables';

.form-div {
  display: flex;
  flex-direction: row;
}

.quiz-input{
  margin-bottom: 50px;
  width: 150px;
  background-color: black;
}

.labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding-bottom: 50px;

};

.main-form-body{
  padding-top: 150px;
}


