@import 'variables';

.my-quizzes {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 750px;
  background-color: $myQuizzesBackgroundColor;
}
.user-quiz{
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.my-quiz-btn{
  text-align: left;
  border: 4px solid;
  border-color: $myquizbtnbordercolor;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(249, 241, 241, 0.3);
  background-color: userQuizzesBtnBackgroundColor;
}

.my-quiz-btn:hover {
  background-color: rgb(216, 213, 213);
}


// .my-quiz-btn:hover{
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

// }

