@import 'variables';

.my-results {
  margin: 20px;
  padding: 1em;
  border-width: 5px;
  border: 4px solid $myquizbtnbordercolor;
  background-color: $userQuizzesBtnBackgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.left {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

div.right {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
h1 {
  padding-top: 100px;
}
